.hidden {
    display: none !important;
}
* {
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #222;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

#progress-container {
    padding: 1em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
}
#progress-container.completed {
    background-color: yellow;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding: 1em 0;
    flex-grow: 1;
}

main span {
    color: black;

    font-weight: bold;
    text-transform: uppercase;
}

main.exercise,
main.exercise * {
    color: white;
}

main.rest {
    background-image: url(png/rest.png);
}

main.roundrest {
    background-image: url(png/round.png);
}

main.rest span,
main.roundrest span {
    background-color: white;
    padding: 1em;
    border-radius: 2em;
}

#progress {
    display: flex;
    justify-content: center;
}

#trainer {
    display: flex;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    max-height: 320px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    box-shadow: 0 0 0 1px grey;

    color: white;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 2em;

    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}
#workout-gif {
    width: 320px;
    height: 320px;
}

#timer {
    font-size: larger;
}

#sign {
    display: flex;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 2em;
}
#sign a:hover {
    text-decoration: underline;
}
#sign a {
    display: flex;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-size: small;
}
#sign a:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.25);
}
